@font-face {
    font-family: NotoSansCJKtc-Light;
    src: url("../fonts/NotoSansCJKtc-Light.otf");
}
@font-face {
    font-family: NotoSansCJKtc-Bold;
    src: url("../fonts/NotoSansCJKtc-Bold.otf");
}
body{
    font-family: NotoSansCJKtc-Light;
}
h1,h2,h3,h4,h5{
    font-family: NotoSansCJKtc-Bold;
}